body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.song-card {
  width: 300px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 200ms;
  position: relative;
}
.song-card:hover .song_card-info {
  transform: translateX(20px);
  opacity: 1;
  font-size: 20pt;
  font-weight: bold;
}
.save_button button {
  position: absolute;
  border-radius: 50px;
  height: 40px;
  width: 93px;
  background-color: red;
  color: white;

  top: 0;
  right: 0;
  font-size: 15pt;
  text-align: center;
  font-weight: bold;
  padding: 1px;
  margin-top: 20px;
  transform: translateX(98px);
}

.song-card:hover button {
  transform: translateX(0);
  margin-right: 5px;
}
.song-card::before {
  content: "";
  display: block;
  top: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, black 0%, transparent 50%);
}

.song_card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-card:hover {
  -webkit-box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.5);
}

.song_card-info {
  position: absolute;
  margin-top: -60px;
  color: white;
  left: 0;
  bottom: 2px;
  right: 0;
  text-align: center;
  font-size: 15pt;
  opacity: 0;
}
.song-play {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 30px;
  transform: translateX(-60px);
}
div .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 24px;
  border-color: transparent transparent transparent #00ff51;
  position: absolute;
  transform: translate(69%, 34%);
  cursor: pointer;
}
.song-card:hover .song-play {
  transform: translateX(0);
}
